
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    background-color: #faebd7;
    margin: 0;
    padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
}


.nav a {
    color: darkblue;
    font-weight: bold;
}

body.car-detail p {
    font-size: 18px;
    color: rebeccapurple;
}

div a {
    color: darkred;
}


h2 + p {
    font-size: 20px;
    font-weight: bold;
}

p + ol {
    border: 2px dashed darkblue;
    padding: 20px;
}


div > a {
    text-decoration: underline;
}

ul > li {
    list-style-type: square;
    font-style: italic;
}

tr > td {
    background-color: #f8f8f8;
}


table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #c0c0c0;
    font-weight: bold;
}


img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


.image-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.image-gallery img {
    width: 250px;
    height: 150px;
    margin: 0;
}